<section class="products-index">
  <header class="page-header">
    <div class="intro">
      <h1>
        About The Jungle
      </h1>
   
    </div>
  </header>

  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Pellentesque congue tellus eu velit pharetra tincidunt. 
  Vestibulum massa erat, efficitur ac ipsum et, molestie egestas nunc. Ut et lacus quis nunc bibendum tempor sed at massa. In tempus nisi ut dui pellentesque, sed vulputate eros tincidunt. Donec blandit, diam vel sagittis blandit, ex mi lobortis lorem, suscipit feugiat metus lorem et justo. Proin vel vehicula metus. Duis ut placerat neque, pellentesque ornare mauris. Praesent ac nulla quis nulla egestas rhoncus ac at sapien. Ut congue bibendum elit quis lacinia. Cras a nulla sapien. In at egestas sem. Sed iaculis diam sed lorem rhoncus fermentum. Aliquam maximus tortor vitae feugiat faucibus. Integer lobortis, orci a rutrum elementum, odio dolor lobortis eros, non sagittis nulla justo sed ligula. Vestibulum aliquam luctus dolor, consequat commodo nisi pulvinar vel.
  <p>
  Proin ultrices purus et enim tincidunt, ut aliquam neque ultrices. Nullam sit amet ex imperdiet, ornare urna ut, finibus ligula. Nunc ac nisi id urna pretium porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat nunc, rutrum et vestibulum eu, tempor in velit. Vestibulum blandit a lacus id convallis. Praesent efficitur a orci vitae vehicula. Praesent scelerisque suscipit urna, non eleifend ex vehicula quis. In porttitor tempus dui sit amet fermentum.
   Pellentesque at felis mollis, dignissim dui vitae, blandit diam
  </p>

</section>
